.footer {
  background-color: var(--text-secondary-color);
  border-top: 5px double var(--text-primary-color);

  & > footer {
    margin: auto;
    padding: 10px;
    max-width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;

    & > main {
      display: flex;
      width: 100%;
      row-gap: 20px;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;

      & > aside {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > img {
          margin: 10px auto;
          border-radius: 50%;
        }

        & > div {
          margin: 10px auto 0;
          & > a:not(:last-of-type) {
            margin-right: 10px;
          }
        }
      }

      & > nav {
        padding: 20px 0 0;
        display: flex;
        width: 100%;
        row-gap: 40px;
        column-gap: 20px;

        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        & > div {
          display: flex;
          width: max-content;
          flex-direction: column;

          align-items: flex-start;
          & > label {
            font-size: 1.2em;
            font-weight: 800;
            margin: 0 0 10px;
          }
          & > a {
            text-align: left;
            display: block;
            font-size: 0.86em;
            &:not(:last-of-type) {
              margin-bottom: 10px;
            }
          }

          &:last-of-type {
            display: none;
          }
        }
      }
    }
    & > section {
      margin-top: 10px;
      padding-top: 20px;

      display: flex;
      flex-direction: column;
      width: 100%;
      row-gap: 10px;
    }
  }
}

@media screen and (min-width: 313px) {
  .footer > footer > main > nav {
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 520px) {
  .footer > footer > main > nav > div:last-of-type {
    display: flex;
  }
}

@media screen and (min-width: 760px) {
  .footer > footer > main {
    flex-wrap: nowrap;
    justify-content: space-between;
    & > aside {
      width: initial;
      align-items: flex-start;
    }
    & > nav {
      padding: 15px 0 0;
      border-top: none;
      width: initial;
    }
  }
}
